.root {
	-fx-base: #D1E6E3;
	
	-fx-focus-color: #778AAA;
	-fx-highlight-color: #778AAA;
    -fx-accent: #778AAA;

	
	/* -fx-background: #9FC6C1; */  
	-fx-background: #D1E6E3;
	
    -fx-dark-text-color: #061939;
    -fx-mid-text-color: #152D55;
    -fx-light-text-color: white;
    
    -fx-color: -fx-base;
    
    /* -fx-cell-hover-color: #cce3f4; */
    -fx-cell-hover-color: black;

    /* -fx-cell-focus-inner-border: #85b9de; */
    -fx-cell-focus-inner-border: #A7B5CC;
}

.button-bar {
	-fx-padding: 6px;
}

.dialog-button {
	-fx-pref-width: 100px;
	-fx-pref-height: 30px;
}

.dialog-button-large {
	-fx-pref-width: 150px;
	-fx-pref-height: 30px;
}

.dialog-grid {
	-fx-hgap: 6px;
	-fx-vgap: 6px;
}

.code-pane {
	-fx-padding: 6px;
}

.project-heading-label {
	-fx-padding: 3px;
	-fx-background-color: #43867D;
	-fx-text-fill: white;
}

.project-heading {
	-fx-padding: 3px;
	-fx-background-color: #43867D;
}

.method-form {
	-fx-padding: 12px 6px 6px 12px;
}

.method-content {
	-fx-padding: 12px 0px 0px 0px;
}

.method-preview {
	-fx-background-color: #A2C9C4;
	-fx-padding: 3px;
}

.text-field-small {
	-fx-pref-width: 100px;
}

.text-field-medium {
	-fx-pref-width: 200px;
}


.text-field-large {
	-fx-pref-width: 300px;
}

.text-field-1 {
	-fx-pref-width: 50px;
}

.text-field-2 {
	-fx-pref-width: 100px;
}


.text-field-3 {
	-fx-pref-width: 150px;
}

.text-field-4 {
	-fx-pref-width: 200px;
}


.text-field-5 {
	-fx-pref-width: 250px;
}

.text-field-6 {
	-fx-pref-width: 300px;
}


.text-field-7 {
	-fx-pref-width: 350px;
}

.text-field-8 {
	-fx-pref-width: 400px;
}


.text-field-9 {
	-fx-pref-width: 450px;
}

.text-field-10 {
	-fx-pref-width: 500px;
}




