.root {
	-fx-base: #D1E6E3;
	
	-fx-focus-color: #778AAA;
	-fx-highlight-color: #778AAA;
    -fx-accent: #778AAA;

	
	/* -fx-background: #9FC6C1; */  
	-fx-background: #D1E6E3;
	
    -fx-dark-text-color: #061939;
    -fx-mid-text-color: #152D55;
    -fx-light-text-color: white;
    
    -fx-color: -fx-base;
    
    /* -fx-cell-hover-color: #cce3f4; */
    -fx-cell-hover-color: black;

    /* -fx-cell-focus-inner-border: #85b9de; */
    -fx-cell-focus-inner-border: #A7B5CC;
}

.button-bar {
	-fx-padding: 6px;
}

.dialog-button {
	-fx-pref-width: 100px;
	-fx-pref-height: 30px;
}

.dialog-grid {
	-fx-hgap: 6px;
	-fx-vgap: 6px;
}

.code-pane {
	-fx-padding: 6px;
}

.project-heading-label {
	-fx-padding: 3px;
	-fx-background-color: #43867D;
	-fx-text-fill: white;
}

.project-heading {
	-fx-padding: 3px;
	-fx-background-color: #43867D;
}

.method-form {
	-fx-padding: 24px 0px 0px 0px;
}



